.form {
  max-width: 80%;
  margin: 50px auto;
  align-items: center;
  padding: 20px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.form:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.form label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #000ff0;
}
.form .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


.form .form-text {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  display: block;
  margin-left: 50px;
  background-color: #F2F2F2;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s ease-in-out;
}
.form .form-text2 {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  display: block;
  margin-left: 50px;
  background-color: #F2F2F2;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s ease-in-out;
}

.form .form-text:hover {
  background-color: #3E6BE6;
}
.form .form-text2:hover {
  background-color: #3E6BE6;
}


.form .label {
  margin-right: 5px;
  cursor: pointer;
}

.form .label:hover {
  text-decoration: underline;
}

.form .radio-input:checked + .form-text {
  background-color: #3E6BE6;
}

.form input[type="email"],
.form input[type="password"],
.form #text {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #F2F2F2;
  transition: all 0.3s ease;
}

.form input[type="email"]:focus,
.form input[type="password"]:focus,
.form text:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
  color: #000ff0;
}

.form input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #2196F3;
  color: #FFF;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form input[type="submit"]:hover {
  background-color: #16dbb0;
}
.form-p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #2196F3;
}
